b93d8d7 :root {
    --gray: #c7c7c7;
    --navy: #1b3359;
    --middleblue: #134ba4;
    --lightblue: #f3f7fd;
    --darkblue: #061072;
    --lightblueclick: #c9d8eb;
    --green: #1f9254;
    --blue: #295ef4;
    --lightgrey: #aeaeae;
    --brown: #404040;
}

#pemesanan_top {
    display: flex;
    align-items: flex-start;
    gap: 80px;
    padding: 5px 20px;
    margin-bottom: 30px;
}
#pemesanan_top h4 {
    font-size: 18px;
}

#pesanan_masuk.active {
    color: blue;
}

#pesanan_terkonfirmasi.active {
    color: blue;
}

#pesanan_masuk.active {
    color: blue;
}
#pesanan_lunas.active {
    color: blue;
}
#pesanan_progres.active {
    color: blue;
}
#pesanan_done.active {
    color: blue;
}

#line {
    margin-top: -60px;
    margin-left: 60px;
}

#line .line-border {
    position: absolute;
    content: "";
    height: 2px;
    background-color: #c7c7c7;
    width: 80.5%;
    margin-left: -60px;
    margin-top: 10px;
}

#line .line-bold {
    position: absolute;
    content: "";
    height: 4px;
    background-color: black;
    width: 36.3%;
    margin-left: -60px;
    margin-top: 10px;
}

#pemesanan_top .line-active {
    z-index: 99;
    position: absolute;
    content: "";
    height: 4px;
    background-color: blue;
    width: auto;
    width: 20%;
    margin-left: -110px;
    margin-top: 10px;
}

#pemesanan_content_masuk {
    margin: 40px 30px;
    padding: 40px 70px 100px;
    border-radius: 20px;
    background-color: white;
}

#pemesanan_content_masuk .btn_terima {
    padding: 4px 8px;
    background-color: #1f9254;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
#pemesanan_content_masuk .btn_tolak {
    padding: 4px 8px;
    background-color: #b75348;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

#pemesanan_content_masuk .btn_detail {
    padding: 4px 8px;
    background-color: #4848b7;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}

#pemesanan_content_lunas {
    margin: 40px 30px;
    padding: 40px 70px 100px;
    border-radius: 20px;
    background-color: white;
}

#pemesanan_content_progres {
    margin: 40px 30px;
    padding: 40px 70px 100px;
    border-radius: 20px;
    background-color: white;
}

#pemesanan_content_done {
    margin: 40px 30px;
    padding: 40px 70px 100px;
    border-radius: 20px;
    background-color: white;
}
